<div class="todo">
  <!-- checkbox -->
  <span class="checkbox-area">
    <ng-container *ngIf="todo.done">
      <button type="button" class="icon-button" (click)="undoneTodo(todo)">
        <i class="icon check checked far fa-check-square"></i>
      </button>
    </ng-container>
    <ng-container *ngIf="!todo.done">
      <button type="button" class="icon-button" (click)="doneTodo(todo)">
        <i class="icon check far fa-square"></i>
      </button>
    </ng-container>
  </span>

  <!-- name -->
  <span class="name-area">
    {{todo.name}}
  </span>

  <!-- clickable icons -->
  <span class="icon-area">
    <!-- star -->
    <ng-container *ngIf="todo.star">
      <button type="button" class="icon-button" (click)="unstarTodo(todo)">
        <i class="icon star starred fas fa-star"></i>
      </button>
    </ng-container>
    <ng-container *ngIf="!todo.star">
      <button type="button" class="icon-button" (click)="starTodo(todo)">
        <i class="icon star far fa-star"></i>
      </button>
    </ng-container>

    <!-- edit -->
    <button type="button" class="icon-button" (click)="editTodo(todo)">
      <i class="icon fas fa-edit"></i>
    </button>

    <!-- trush -->
    <button type="button" class="icon-button" (click)="deleteTodo(todo)">
      <i class="icon far fa-trash-alt"></i>
    </button>
  </span>
</div>
