<ngb-tabset>
  <!-- all undone todo -->
  <ngb-tab title="all">
    <ng-template ngbTabContent>
      <!-- current undone todo is empty, show message. -->
      <ng-container *ngIf="undoneTodos().length === 0">
        <div class="empty-message">
          You don't have any tasks to do now.
          <br> You can add a new task below.
        </div>
      </ng-container>

      <ng-container *ngFor="let todo of undoneTodos()">
        <div class="todo">
          <app-todo [todo]="todo" (todoUpdate)="getTodos()"></app-todo>
        </div>
      </ng-container>

      <div class="button-area">
        <button type="button" class="btn btn-primary add" (click)="addTodo()">add</button>
      </div>
    </ng-template>
  </ngb-tab>

  <!-- starrd todo -->
  <ngb-tab title="starred">
    <ng-template ngbTabContent>
      <ng-container *ngIf="starrdTodos().length === 0">
        <div class="empty-message">
          starred task to do will show here.
        </div>
      </ng-container>

      <ng-container *ngFor="let todo of starrdTodos()">
        <div class="todo">
          <app-todo [todo]="todo" (todoUpdate)="getTodos()"></app-todo>
        </div>
      </ng-container>
    </ng-template>
  </ngb-tab>

  <!-- done todo -->
  <ngb-tab title="done">
    <ng-template ngbTabContent>
      <ng-container *ngIf="doneTodos().length === 0">
        <div class="empty-message">
          finished task will show here.
        </div>
      </ng-container>

      <ng-container *ngFor="let todo of doneTodos()">
        <div class="todo">
          <app-todo [todo]="todo" (todoUpdate)="getTodos()"></app-todo>
        </div>
      </ng-container>
    </ng-template>
  </ngb-tab>
</ngb-tabset>
